article#contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 1.5rem;
  gap: 3rem;
}

article#contact > div.left-content {
  width: 100%;
  max-width: 550px;
}

@media (min-width: 1130px) {
  article#contact {
    gap: 10rem;
  }
}

article#contact > div.left-content > img {
  width: 100%;
  border: 1rem solid var(--text-color);
  border-radius: 0.25rem;
}

article#contact > div.right-content {
  flex: 1;
  max-width: max-content;
}
article#contact > div.right-content > div.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

article#contact > div.right-content > div.container > a {
  font-size: var(--text-size-56);
  color: var(--text-color);
}

article#contact > div.right-content > div.container > a:hover {
  text-shadow: 0 1px 5px var(--text-color);
}
